<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496919880780-tuve7q3t2g20dqvr0p2iv6t77e5qlb00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496919880780-tuve7q3t2g20dqvr0p2iv6t77e5qlb00</string>
	<key>API_KEY</key>
	<string>AIzaSyDBMp7dDoKMciMLMAkY2gl4kAKOjZQTIQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>496919880780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalId.id-project</string>
	<key>PROJECT_ID</key>
	<string>digitalid-5f0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalid-5f0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496919880780:ios:b0074fca3774a42a</string>
	<key>DATABASE_URL</key>
	<string>https://digitalid-5f0bc.firebaseio.com</string>
</dict>
</plist>